@font-face {
    font-family: "Didot";
    src: url("fonts/251039e6849ad977a8bfc40b564dce89.eot");
    src: url("fonts/fonts/251039e6849ad977a8bfc40b564dce89.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("fonts/fonts/251039e6849ad977a8bfc40b564dce89.woff2") format("woff2"),
        /* chrome、firefox */
        url("fonts/251039e6849ad977a8bfc40b564dce89.woff") format("woff"),
        /* chrome、firefox */
        url("fonts/fonts/251039e6849ad977a8bfc40b564dce89.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("fonts/251039e6849ad977a8bfc40b564dce89.svg#Didot") format("svg");
}

html {
    position: relative;
}

body {
    margin-bottom: 120px;
    margin-top: 50px;
}

.logo-navbar {
    font-weight: bold;
    font-family: "arial";
}

.nvbr {
    letter-spacing: 2px;
}

.jumbotron {
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: #eee;
    overflow: hidden;
}


.jumbotron img {
    width: 180px;
    background-color: #fff;
    border: 5px solid #fff;

}

.jumbotron h1 {
    font-weight: bold;
    font-family: 'didot';

}

.jumbotron p {
    font-size: 16px;
    text-transform: uppercase;

}

hr {
    width: 250px;
    border-top: 3px solid #666;
}

section {
    min-height: 700px;
}

/* about */
.pKiri,
.pKanan {
    font-size: 18px;
    text-align: justify;
    text-indent: 8vh;
    padding: 20px 20px 0;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1s;
}


.pKanan {
    transform: translate(50px, 0);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio img {
    background-color: #666;
}


.contact {
    min-height: 790px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #333;
    padding-top: 30px;
    text-align: center;
    text-transform: capitalize;
}

footer p {
    color: #aaa;
    font-size: 1em;
}

footer i {
    color: salmon;
}